* {
    font-family: Calibri, serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.error {
    color: red;
}